@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Class */

#knowmainwarp {
    max-width: 100%;
    margin: auto;
}
.knowclearall {
    float: none;
    clear: both;
    height: 0px;
}
#knowhideelement {
    display: none !important;
    height: 0px !important;
}

/* Header Class */

#knowtopheadwarp {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #e2f7f2;
    margin-bottom: 30px;
}
.knowtopheadwarpin {
    max-width: 740px;
    margin: auto;
}
.knowtopheadpinimg {
    width: 100%;
    height: auto;
}
.knowtopheadcol1 {
    float: left;
    width: 15%;
    max-width: 95px;
    padding: 5px;
}
.knowtopheadcol2 {
    float: left;
    width: 85%;
    padding: 5px;
}
.knowtopheadcol2top {
    font-size: 92px;
    height: 120px;
    line-height: 120%;
    overflow: hidden;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    background-image: url(/sites/default/files/inline-images/KnowDengue_element_2.png);
    background-repeat: no-repeat;
    background-position: -7px 97px;
    background-size: 98%;
    color: #143858;
}
.knowtopheadcol2bottom {
    font-size: 32px;
    line-height: 100%;
    font-family: 'Kanit', sans-serif;
    color: #0081a0;
}

/* Geolocation Class */

#knowtopcolwarp {
    max-width: 1080px;
    margin: auto;
    margin-bottom: 20px;
}
#knowtopcol1 {
    float: left;
    width: 45%;
    padding: 0px;
}
.knowtopcol1img {
    width: 100%;
    height: auto;
}
#knowtopcol2 {
    float: left;
    width: 55%;
    padding: 10px;
    padding-top: 0px;
}
div.knowtopcol1inmob {
    text-align: center;
    color: #143858;
    padding: 15px;
    padding-top: 0px;
    display: none;
}
div.knowtopcol2in1 {
    text-align: center;
    color: #143858;
    padding: 15px;
    padding-top: 0px;
}
div.knowtopcol2in2 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #143858;
    line-height: 100%;
    margin-top: 45px;
    padding: 15px;
}
div.knowtopcol2in3 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 21px;
    color: #143858;
    font-weight: 100;
    margin-top: 70px;
    line-height: 100%;
}
.knowtopcol2in3div2 {
    font-size: 130px;
    font-weight: 500;
    line-height: 85%;
    color: #143858;
}
.knowtopcol2in2div2 {
    font-size: 52px;
    font-weight: 500;
    line-height: 100%;
}
.knowtopcol2in1div1 {
    font-family: 'Kanit', sans-serif;
    color: #143858;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}
.knowtopcol2in1div2 {
    font-family: 'Kanit', sans-serif;
    color: #143858;
    font-weight: 100;
    font-size: 20px;
    line-height: 130%;
}
#info1print {
    font-weight: 400;
}
#info1mobprint {
    font-weight: 400;
}
#info2print {

}
#geodropdown {
    width: 100%;
    height: 38px;
    padding: 0.5em 1em;
    color: #6c6c6c;
    background: #f2f2f2;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Situation Class */

#infoprintwarp {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e2f7f2;
    margin-bottom: 15px;
}
.infoprintwarpin {
    max-width: 620px;
    margin: auto;
}
.infoprintwarpinner1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #143858;
}
.infoprintwarpin2col1 {
    float: left;
    width: 50%;
    padding: 20px;
}
.infoprintwarpin2col2 {
    float: left;
    width: 50%;
    padding: 20px;
}
.infoprintwarpin2col1in1 {
    float: left;
    width: 35%;
    padding: 10px;
}
.infoprintwarpin2col1in1img {
    width: 100%;
    height: auto;
}
.infoprintwarpin2col1in2 {
    float: left;
    width: 65%;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 120%;
}
.infoprintwarpin2col2in1 {
    float: left;
    width: 35%;
    padding: 10px;
}
.infoprintwarpin2col2in1img {
    width: 100%;
    height: auto;
}
.infoprintwarpin2col2in2 {
    float: left;
    width: 65%;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 120%;
    max-width: 270px;
}
#info3print > span {
    font-size: 54px;
    line-height: 100%;
    color: #143858;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}
#info4print > span {
    font-size: 54px;
    line-height: 100%;
    color: #dc2021;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}

/* Chart Class */

#knowchartwarp {
    max-width: 800px;
    margin: auto;
    height: auto;
    display: block;
    color: #143858;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}
.knowchartcol1 {
    float: left;
    width: 15%;
}
.knowchartcol2 {
    float: left;
    width: 85%;
}
#knowchartlebel {
    list-style: none;
    text-align: center;
    line-height: 188%;
}
#knowchartlebel > li {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
#knowchartlebel > li:nth-child(1) {
    padding-bottom: 5px;
}
.knowchartbarinhead {
    font-size: 0px;
}
#knowchartbar > li {
    padding-bottom: 5px;
}
#knowchartbar > li > div {
    border: none !important;
}
#knowchartbar > li > div:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
    text-align: right;
    border: none !important;
    background-color: #63d5b4;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000;
    border-bottom: 0.45em solid #397968 !important;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    box-shadow: 0 2px 3px #ccc;
}
#knowchartbar > li > div:nth-child(2) {
    border-radius: 0px 10px 10px 0px;
    background-color: #DB1F1F;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    border-bottom: 0.45em solid #7c1313 !important;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    box-shadow: 0 2px 3px #ccc;
}
li.knowchartbarinhead {

}
li.knowchartbarinhead > div {
    font-size: 0px;
    background-color: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
}
#knowchartbar > li > div.knowchartbarsick0-4 {
    border-radius: 10px 10px 10px 10px;
}
#knowchartbar > li > div.knowchartbardead0-4 {
    display: none;
}
.knowchartinhead {
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    color: #143858;
    text-align: center;
    margin-bottom: 15px;
}
.knowchartinsubhead {
    max-width: 330px;
    margin: auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 15px;
}
.knowchartinsubheadcol1 {
    float: left;
    width: 50%;
    padding: 5px;
}
.knowchartinsubheadcol2 {
    float: left;
    width: 50%;
    padding: 5px;
}
.knowchartinsubheadcol1color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #63d5b4;
    margin-right: 5px;
    margin-bottom: -5px;
}
.knowchartinsubheadcol2color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #DB1F1F;
    margin-right: 5px;
    margin-bottom: -5px;
}
.knowchartbotinfo {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 550px;
    margin: auto;
    font-size: 21px;
    line-height: 140%;
    font-weight: 200;
}
#ageinfosum1print {
    font-weight: 400;
    display: inline-block;
}
#ageinfosum2print {
    font-weight: 400;
    display: inline-block;
}

/* Threerisk Class */

#knowbotcolwarp {
    width: 100%;
    background-color: #e2f7f2;
}
#knowbotcolwarpin {
    max-width: 910px;
    margin: auto;
    height: auto;
    padding: 20px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    color: #143858;
}
.knowbotcol2in1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    color: #143858;
    text-align: center;
    margin-bottom: 20px;
}
#knowbotcol2in2c1 {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    color: #000;
}
.knowbotcol2in2c1inner1, .knowbotcol2in2c2inner1, .knowbotcol2in2c3inner1 {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}
#knowbotcol2in2c2 {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    color: #000;
}
#knowbotcol2in2c3 {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    color: #000;
}

div.knowtopcol1in1 {
    font-size: 21px;
    color: #000;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}
#knowbotcol1 > div {
    text-align: center;
    color: #000;
    font-size: 21px;
    line-height: 100%;
    padding-bottom: 15px;
}
#knowdfagetable {
    width: 100%;
    color: #000;
}
#knowdfagetable > thead > tr > th {
    background-color: #fff2cc;
}
#knowdfagetable > tbody > tr > td:nth-child(2) {
    text-align: right;
}
#knowdfagetable > tbody > tr > td:nth-child(3) {
    text-align: right;
}
#knowdfagetable > tbody > tr > td:nth-child(2) > p {
    margin: auto;
}
#knowdfagetable > tbody > tr > td:nth-child(3) > p {
    margin: auto;
}
.knowbotcol2in2c1inner3, .knowbotcol2in2c2inner3, .knowbotcol2in2c3inner3 {
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 0px;
    font-weight: 100;
}
#riskinfo1print, #riskinfo2print, #riskinfo3print {
    font-size: 82px;
    font-weight: 400;
    line-height: 100%;
    padding: 5px;
    margin-bottom: 0px;
    display: inline-block;
}
.knowbotcol2in2c1inner2img, .knowbotcol2in2c2inner2img, .knowbotcol2in2c3inner2img {
    width: 100%;
    max-width: 190px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.knowbotcol2in2 {
    margin-bottom: 30px;
}
.knowbotcol2in3, .knowbotcol2in4 {
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    line-height: 140%;
}
.knowbotcol2in4 {
    margin-bottom: 50px;
}
#googlemapapi {
    height: 0px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

@media (max-width: 1024px) {

#knowtopcolwarp {
    padding-left: 15px;
    padding-right: 15px;
}

}

@media (max-width: 863px) {

div.knowtopcol2in1 {
    max-width: 320px;
    margin: auto;
}
.knowtopcol2in1div2 {
    max-width: 280px;
    margin: auto;
}
.knowtopcol2in2div2 {
    font-size: 48px;
}
div.knowtopcol2in3 {
    font-size: 18px;
}
.knowtopcol2in3div2 {
    font-size: 120px;
}

}

@media (max-width: 785px) {

.infoprintwarpinner1 {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 460px;
    font-size: 21px;
    margin: auto;
    margin-bottom: 15px;
}
.knowchartinhead {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    font-size: 21px;
    margin: auto;
    margin-bottom: 15px;
}
.knowbotcol2in1 {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 390px;
    font-size: 28px;
    margin: auto;
    margin-bottom: 15px;
}

}

@media (max-width: 767px) {

div.knowtopcol2in1 {
    display: none;
}
div.knowtopcol1inmob {
    max-width: 310px;
    margin: auto;
    display: block;
}
#knowtopcol1 {
    float: none;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
}
#knowtopcol2 {
    float: none;
    width: 100%;
    padding: 15px;
    padding-top: 0px;
    margin: auto;
}
div.knowtopcol2in2 {
    margin-top: 5px;
}
div.knowtopcol2in3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.infoprintwarpin2col1 {
    float: none;
    width: 100%;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}
.infoprintwarpin2col2 {
    float: none;
    width: 100%;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}

}

@media (max-width: 724px) {

.knowtopheadcol2top {
    font-size: 81px;
    height: 103px;
    background-position: -6px 85px;
    background-size: 87%;
}

}

@media (max-width: 690px) {

.knowtopheadwarpin {
    max-width: 440px;
}
.knowtopheadcol1 {
    max-width: 57px;
}
.knowtopheadcol2top {
    font-size: 54px;
    height: 70px;
}
.knowtopheadcol2top {
    font-size: 54px;
    height: 68px;
    line-height: 120%;
    background-position: 1px 57px;
    background-size: 96%;
}
.knowtopheadcol2bottom {
    font-size: 21px;
}
.knowchartinhead {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 320px;
    margin: auto;
    margin-bottom: 15px;
}
.knowbotcol2in1 {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 320px;
    margin: auto;
    margin-bottom: 15px;
}
.infoprintwarpinner1 {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    font-size: 28px;
    margin: auto;
    margin-bottom: 15px;
}
.knowchartbotinfo {
    text-align: center;
    max-width: 310px;
    font-size: 20px;
}
#ageinfosum1print {

}
#ageinfosum2print {

}
.knowbotcol2in2c1inner1, .knowbotcol2in2c2inner1, .knowbotcol2in2c3inner1 {
    font-size: 22px;
}

}

@media (max-width: 660px) {

.knowchartcol1 {
    width: 20%;
}
.knowchartcol2 {
    width: 80%;
}

}

@media (max-width: 551px) {

#infoprintwarp {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.infoprintwarpinner1 {
    margin-bottom: 0px;
    font-size: 21px;
}
.knowchartinhead {
    margin-bottom: 10px;
}
.knowchartinsubhead {
    margin-bottom: 10px;
}
.knowchartbotinfo {
    font-size: 16px;
}
.infoprintwarpin {
    max-width: 290px;
}
#knowchartbar > li > div:nth-child(1) {
    min-width: 50px;
}
#knowchartbar > li > div:nth-child(2) {
    min-width: 20px;
}

.knowbotcol2in1 {
    font-size: 21px;
}
#knowbotcol2in2c1, #knowbotcol2in2c2, #knowbotcol2in2c3 {
    /* float: none;
    width: 100%;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px; */
}
.knowbotcol2in2c1inner1, .knowbotcol2in2c2inner1, .knowbotcol2in2c3inner1 {
    font-size: 14px;
    line-height: 100%;
    min-height: 34px;
}
.knowbotcol2in2c1inner2img, .knowbotcol2in2c2inner2img, .knowbotcol2in2c3inner2img {
    padding-top: 5px;
}
#riskinfo1print, #riskinfo2print, #riskinfo3print {
    font-size: 28px;
}
.knowbotcol2in2c1inner3, .knowbotcol2in2c2inner3, .knowbotcol2in2c3inner3 {
    font-size: 18px;
}

}

@media (max-width: 481px) {

.knowchartcol1 {
    width: 22%;
}
.knowchartcol2 {
    width: 78%;
}
.knowbotcol2in3, .knowbotcol2in4 {
    font-size: 14px;
}
#knowchartbar > li > div:nth-child(1) {
    font-size: 14px;
}
#knowchartbar > li > div:nth-child(2) {
    font-size: 14px;
}
#knowchartbar > li.knowchartbarinhead > div {
    border: none !important;
    font-size: 0px;
    padding-bottom: 12px;
}

}

@media (max-width: 430px) {

.knowtopheadwarpin {
    max-width: 365px;
}
.knowtopheadcol2top {
    font-size: 43px;
    height: 57px;
    line-height: 120%;
    background-position: -2px 47px;
    background-size: 91%;
}
.knowtopheadcol2bottom {
    font-size: 17px;
}

}

@media (max-width: 400px) {

.knowtopcol2in2div2 {
    font-size: 38px;
}

}

}